## Exploratory Analysis

0. Create new dataframes and CSVs
    * table of each person, their pertinent information, and the (unique) count of projects they have been on with abusers
    * table of each person and their respective projects counts with each abuser
    * table of each person and their (unique) count of film major credits
0. Exploratory Analysis

In [1]:
# Set up Python

import pandas as pd
import numpy as np
import csv
import json
import urllib
import requests
import re
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

## 1. New DataFrames and CSVs

In [4]:
# Import CSV of abusers

abusers = pd.read_csv('../data/hollywood_abusers_list.csv')
abusers.head()

,name,imdb_id,profession,abuse,victim_is_minor,deceased,source
0,Al Franken,nm0291253,Actor,sexual assault,0,0,http://www.kabc.com/2017/11/16/leeann-tweeden-...
1,Alec Baldwin,nm0000285,Actor,violent assault,0,0,http://articles.latimes.com/1995-10-27/local/m...
2,Alfred Hitchcock,nm0000033,Director,sexual assault,0,1,https://www.usatoday.com/story/life/books/2016...
3,Andrew Kreisberg,nm1132610,Producer,sexual harassment,0,0,http://www.cnn.com/2017/11/12/entertainment/an...
4,Andy Dick,nm0004873,Actor,sexual assault,0,0,http://www.nydailynews.com/entertainment/gossi...

#### Here we take our original `hollywood_abusers_list.csv` and create a dictionary for 'name' and 'imdb_id'

In [6]:
# Drop all rows except for 'name' and 'imdb_id'

df_abusers = abusers.drop(['profession', 'abuse', 'victim_is_minor', 'deceased', 'source'], axis = 1)

# Drop duplicates if there are any

df_abusers.drop_duplicates(keep = 'first', inplace = True)
# debugging: df_abusers

In [85]:
# Transpose `df_abusers` dataframe to convert to dictionary

df_abusers_transposed = df_abusers.set_index('name').transpose()

# Convert create `abuser_ids` dictionary from `df_abusers_transposed` 

abuser_ids = df_abusers_transposed.reset_index().to_dict('imdb_id')[0]

# Remove {'index': 'imdb_id'} entry

abuser_ids = {a: i for a, i in abuser_ids.items() if i != 'imdb_id'}
# debugging: abuser_ids

#### This section takes `abusers_film_credits.csv` and ultimately creates table with unique count of projects each person has worked on with a known abuser

In [187]:
# Import CSV of film credits

df_person_credits = pd.read_csv('../data/abusers_film_credits.csv')

# Convert 'person_id' to str

df_person_credits['person_id'] = df_person_credits['person_id'].astype('str')

df_person_credits.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 53286 entries, 0 to 53285
Data columns (total 6 columns):
moviedb_id    53286 non-null int64
title         53286 non-null object
person_id     53286 non-null object
name          53286 non-null object
role          53286 non-null object
gender        53286 non-null int64
dtypes: int64(2), object(4)
memory usage: 2.4+ MB

In [243]:
df_person_credits.head()

,moviedb_id,title,person_id,name,role,gender
0,14462,The Manchurian Candidate,5292,Denzel Washington,Actor,2
1,14462,The Manchurian Candidate,5064,Meryl Streep,Actor,1
2,14462,The Manchurian Candidate,23626,Liev Schreiber,Actor,2
3,14462,The Manchurian Candidate,10127,Jon Voight,Actor,2
4,14462,The Manchurian Candidate,55314,Kimberly Elise,Actor,1

In [188]:
# Select 'person_id' and count distinct 'moviedb_id' projects 

df_person_count = pd.DataFrame(df_person_credits.groupby('person_id').moviedb_id.nunique()).reset_index()

# Rename 'movideb_id' column to 'abuser_project_count`

df_person_count = df_person_count.rename(columns = {'moviedb_id': 'abuser_project_count'})

# Drop duplicates if there are any

df_person_count.drop_duplicates(keep = False, inplace = True)

# Convert 'person_id' to str

df_person_count['person_id'] = df_person_count['person_id'].astype('str')

df_person_count.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32191 entries, 0 to 32190
Data columns (total 2 columns):
person_id               32191 non-null object
abuser_project_count    32191 non-null int64
dtypes: int64(1), object(1)
memory usage: 754.5+ KB

In [189]:
# Create new dataframe of `df_person_info` from `df_person_credits` for merging

df_person_info = df_person_credits.drop(['moviedb_id', 'title', 'role'], axis = 1)

# Drop duplicates if there are any

df_person_info.drop_duplicates(keep = 'first', inplace = True)

df_person_info.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32192 entries, 0 to 53283
Data columns (total 3 columns):
person_id    32192 non-null object
name         32192 non-null object
gender       32192 non-null int64
dtypes: int64(1), object(2)
memory usage: 1006.0+ KB

In [190]:
# Merge `df_person_abuser_project_count` dataframe to `df_person_info` to join person names

df_person_abuser_count = pd.merge(df_person_count,
                                  df_person_info,
                                  on = 'person_id',
                                  how = 'left')

# Reorder columns in `df_person_abuser_count`

df_person_abuser_count = df_person_abuser_count[['person_id', 'name', 'gender', 'abuser_project_count']]

# Drop duplicates if there are any

df_person_abuser_count.drop_duplicates(keep = 'first', inplace = True)

df_person_abuser_count.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32192 entries, 0 to 32191
Data columns (total 4 columns):
person_id               32192 non-null object
name                    32192 non-null object
gender                  32192 non-null int64
abuser_project_count    32192 non-null int64
dtypes: int64(2), object(2)
memory usage: 1.2+ MB

In [80]:
# Create new CSV from `df_person_abuser_count` dataframe

df_person_abuser_count.to_csv('../data/person_info_project_count.csv', index = False)

#### Next we create a table of count of projects each 'person_id' has worked on by abuser

In [93]:
# Import `abusers_filmography.csv`

abusers_filmography = pd.read_csv('../data/abusers_filmography.csv')

# Create `df_abusers_filmography_clean` from `abusers_filmography` and drop extraneous columns

df_abusers_filmography_clean = abusers_filmography.drop(['role', 'title', 'type', 'url', 'year'], axis = 1)

# Drop duplicates if there are any

df_abusers_filmography_clean.drop_duplicates(keep = 'first', inplace = True)

# Convert 'person_id' to str

df_abusers_filmography_clean['imdb_id'] = df_abusers_filmography_clean['imdb_id'].astype('str')

df_abusers_filmography_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5890 entries, 0 to 6770
Data columns (total 2 columns):
imdb_id    5890 non-null object
name       5890 non-null object
dtypes: object(2)
memory usage: 138.0+ KB

In [94]:
# Create new dataframe of `df_person_credits_clean` from `df_person_credits`

df_person_credits_clean = df_person_credits.drop(['title', 'role', 'gender'], axis = 1)

# Drop duplicates if there are any

df_person_credits_clean.drop_duplicates(keep = 'first', inplace = True)

# Convert 'moviedb_id' to str

df_person_credits_clean['moviedb_id'] = df_person_credits_clean['moviedb_id'].astype('str')

df_person_credits_clean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 51686 entries, 0 to 53285
Data columns (total 3 columns):
moviedb_id    51686 non-null object
person_id     51686 non-null object
name          51686 non-null object
dtypes: object(3)
memory usage: 1.6+ MB

##### Need to import `imdb_moviedb_id_lookup.csv`

In [128]:
# Import `imdb_moviedb_id_lookup.csv`

df_imdb_moviedb_id_lookup = pd.read_csv('../data/imdb_moviedb_id_lookup.csv')

# Convert 'moviedb_id' to str

df_imdb_moviedb_id_lookup['moviedb_id'] = imdb_moviedb_id_lookup['moviedb_id'].astype('str')

df_imdb_moviedb_id_lookup.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2248 entries, 0 to 2247
Data columns (total 2 columns):
imdb_id       2248 non-null object
moviedb_id    2181 non-null object
dtypes: object(2)
memory usage: 35.2+ KB

In [129]:
# Create `df_person_credits_imdb` from `df_person_credits_clean` and `df_imdb_moviedb_id_lookup`

df_person_credits_imdb = pd.merge(df_person_credits_clean,
                                  df_imdb_moviedb_id_lookup,
                                  on = 'moviedb_id',
                                  how = 'left')

In [130]:
# Drop 'moviedb_id' column

df_person_credits_imdb.drop(['moviedb_id'], axis = 1)

# Reorder columns in `df_person_credits_imdb`

df_person_credits_imdb = df_person_credits_imdb[['person_id', 'name', 'imdb_id']]

# Drop duplicates if there are any

df_person_credits_imdb.drop_duplicates(keep = 'first', inplace = True)

# Drop rows where 'imdb_id' is NaN

df_person_credits_imdb = df_person_credits_imdb.dropna(subset = ['imdb_id'])

df_person_credits_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22746 entries, 0 to 51398
Data columns (total 3 columns):
person_id    22746 non-null object
name         22746 non-null object
imdb_id      22746 non-null object
dtypes: object(3)
memory usage: 710.8+ KB

In [217]:
# Create `df_person_credits_abusers` by merging `df_person_credits_imdb` with `df_abusers_filmography_clean`

df_person_credits_abusers = pd.merge(df_person_credits_imdb,
                                     df_abusers_filmography_clean, 
                                     on = 'imdb_id', 
                                     how = 'left')

# Rename columns

df_person_credits_abusers = df_person_credits_abusers.rename(columns = {'name_x': 'name', 'name_y': 'abuser'})

df_person_credits_abusers.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25220 entries, 0 to 25219
Data columns (total 4 columns):
person_id    25220 non-null object
name         25220 non-null object
imdb_id      25220 non-null object
abuser       25220 non-null object
dtypes: object(4)
memory usage: 985.2+ KB

In [228]:
# Create `df_person_abuser_count_detail` by pivoting on `df_person_credits_abusers`

df_person_abuser_count_detail = pd.pivot_table(df_person_credits_abusers, values = 'imdb_id', index = ['person_id', 'name'], columns = 'abuser', aggfunc = 'count').fillna(0)
df_person_abuser_count_detail.head()

,abuser,Al Franken,Alec Baldwin,Alfred Hitchcock,Andrew Kreisberg,Andy Dick,Anthony Michael Hall,Arnold Schwarzenegger,Ben Affleck,Bernardo Bertolucci,Bill Cosby,...,Sasha Mitchell,Sean Connery,Sean Penn,Stephen Collins,Steven Seagal,Terrence Howard,Tom Sizemore,Tom Wopat,Wesley Snipes,Woody Allen
person_id,name,,,,,,,,,,,,,,,,,,,,,
10000,Gregory Sporleder,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10001,William Wyler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1000228,Jerry Haleva,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100040,Carol Dempster,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
100058,Clara Colosimo,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [229]:
# Convert all abuser count columns to int64

for abuser, id in abuser_ids.items():
    try:
        df_person_abuser_count_detail[abuser] = df_person_abuser_count_detail[abuser].astype('int64')
    except KeyError:
        pass

df_person_abuser_count_detail.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 16503 entries, (10000, Gregory Sporleder) to (9998, Joey Slotnick)
Data columns (total 89 columns):
Al Franken               16503 non-null int64
Alec Baldwin             16503 non-null int64
Alfred Hitchcock         16503 non-null int64
Andrew Kreisberg         16503 non-null int64
Andy Dick                16503 non-null int64
Anthony Michael Hall     16503 non-null int64
Arnold Schwarzenegger    16503 non-null int64
Ben Affleck              16503 non-null int64
Bernardo Bertolucci      16503 non-null int64
Bill Cosby               16503 non-null int64
Bill Murray              16503 non-null int64
Billy Dee Williams       16503 non-null int64
Brett Ratner             16503 non-null int64
Brian Bonsall            16503 non-null int64
Bryan Singer             16503 non-null int64
Carmen Electra           16503 non-null int64
Casey Affleck            16503 non-null int64
Charlie Sheen            16503 non-null int64
Christian Bale           16503 non-null int64
Christian Slater         16503 non-null int64
Clint Eastwood           16503 non-null int64
Columbus Short           16503 non-null int64
Cuba Gooding Jr.         16503 non-null int64
David O. Selznick        16503 non-null int64
Donald J. Trump          16503 non-null int64
Dustin Diamond           16503 non-null int64
Dustin Hoffman           16503 non-null int64
Ed Westwick              16503 non-null int64
Edward Furlong           16503 non-null int64
Emile Hirsch             16503 non-null int64
Eric Roberts             16503 non-null int64
Gary Busey               16503 non-null int64
Gary Goddard             16503 non-null int64
Gary Oldman              16503 non-null int64
George Takei             16503 non-null int64
Gerard Depardieu         16503 non-null int64
Harvey Weinstein         16503 non-null int64
Jack Nicholson           16503 non-null int64
James Caan               16503 non-null int64
James Toback             16503 non-null int64
James Woods              16503 non-null int64
Jan-Michael Vincent      16503 non-null int64
Jared Leto               16503 non-null int64
Jeffrey Tambor           16503 non-null int64
Jeremy Piven             16503 non-null int64
Jim Carrey               16503 non-null int64
John Barrymore           16503 non-null int64
John Singleton           16503 non-null int64
John Stamos              16503 non-null int64
John Travolta            16503 non-null int64
Johnny Depp              16503 non-null int64
Jonathan Rhys-Meyers     16503 non-null int64
Josh Brolin              16503 non-null int64
Kevin Costner            16503 non-null int64
Kevin Hart               16503 non-null int64
Kevin Spacey             16503 non-null int64
Kirk Douglas             16503 non-null int64
Klaus Kinski             16503 non-null int64
Lars Von Trier           16503 non-null int64
Lisa Robin Kelly         16503 non-null int64
Louis B. Mayer           16503 non-null int64
Louis C.K.               16503 non-null int64
Mario Lopez              16503 non-null int64
Mark Wahlberg            16503 non-null int64
Marlon Brando            16503 non-null int64
Mel Gibson               16503 non-null int64
Michael Bay              16503 non-null int64
Michael Fassbender       16503 non-null int64
Mickey Rourke            16503 non-null int64
Morgan Freeman           16503 non-null int64
Nate Parker              16503 non-null int64
Nicolas Cage             16503 non-null int64
Oliver Stone             16503 non-null int64
Philip Michael Thomas    16503 non-null int64
Rob Lowe                 16503 non-null int64
Roman Polanski           16503 non-null int64
Russell Crowe            16503 non-null int64
Ryan O'Neal              16503 non-null int64
Sam Worthington          16503 non-null int64
Sasha Mitchell           16503 non-null int64
Sean Connery             16503 non-null int64
Sean Penn                16503 non-null int64
Stephen Collins          16503 non-null int64
Steven Seagal            16503 non-null int64
Terrence Howard          16503 non-null int64
Tom Sizemore             16503 non-null int64
Tom Wopat                16503 non-null int64
Wesley Snipes            16503 non-null int64
Woody Allen              16503 non-null int64
dtypes: int64(89)
memory usage: 11.5+ MB

In [230]:
# Reset `df_person_abuser_count_detail` index

df_person_abuser_count_detail = df_person_abuser_count_detail.reset_index()

df_person_abuser_count_detail.head()

abuser,person_id,name,Al Franken,Alec Baldwin,Alfred Hitchcock,Andrew Kreisberg,Andy Dick,Anthony Michael Hall,Arnold Schwarzenegger,Ben Affleck,...,Sasha Mitchell,Sean Connery,Sean Penn,Stephen Collins,Steven Seagal,Terrence Howard,Tom Sizemore,Tom Wopat,Wesley Snipes,Woody Allen
0,10000,Gregory Sporleder,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10001,William Wyler,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000228,Jerry Haleva,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,100040,Carol Dempster,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,100058,Clara Colosimo,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [231]:
# Convert to CSV for documentation

df_person_abuser_count_detail.to_csv('../data/person_abuser_count_detail.csv', index = False)

#### Now to join `df_person_abuser_count` to `df_person_abuser_count_detail`

In [233]:
# Create `df_person_abuser_count_details` by merging `df_person_abuser_count` with `df_person_abuser_count_detail`

df_person_abuser_count_details = pd.merge(df_person_abuser_count.filter(['person_id', 'gender', 'abuser_project_count']),
                                     df_person_abuser_count_detail, 
                                     on = 'person_id', 
                                     how = 'left')

# Fill NaN values with zero

df_person_abuser_count_details = df_person_abuser_count_details.fillna(0)

df_person_abuser_count_details.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 32192 entries, 0 to 32191
Data columns (total 93 columns):
person_id                32192 non-null object
gender                   32192 non-null int64
abuser_project_count     32192 non-null int64
name                     32192 non-null object
Al Franken               32192 non-null float64
Alec Baldwin             32192 non-null float64
Alfred Hitchcock         32192 non-null float64
Andrew Kreisberg         32192 non-null float64
Andy Dick                32192 non-null float64
Anthony Michael Hall     32192 non-null float64
Arnold Schwarzenegger    32192 non-null float64
Ben Affleck              32192 non-null float64
Bernardo Bertolucci      32192 non-null float64
Bill Cosby               32192 non-null float64
Bill Murray              32192 non-null float64
Billy Dee Williams       32192 non-null float64
Brett Ratner             32192 non-null float64
Brian Bonsall            32192 non-null float64
Bryan Singer             32192 non-null float64
Carmen Electra           32192 non-null float64
Casey Affleck            32192 non-null float64
Charlie Sheen            32192 non-null float64
Christian Bale           32192 non-null float64
Christian Slater         32192 non-null float64
Clint Eastwood           32192 non-null float64
Columbus Short           32192 non-null float64
Cuba Gooding Jr.         32192 non-null float64
David O. Selznick        32192 non-null float64
Donald J. Trump          32192 non-null float64
Dustin Diamond           32192 non-null float64
Dustin Hoffman           32192 non-null float64
Ed Westwick              32192 non-null float64
Edward Furlong           32192 non-null float64
Emile Hirsch             32192 non-null float64
Eric Roberts             32192 non-null float64
Gary Busey               32192 non-null float64
Gary Goddard             32192 non-null float64
Gary Oldman              32192 non-null float64
George Takei             32192 non-null float64
Gerard Depardieu         32192 non-null float64
Harvey Weinstein         32192 non-null float64
Jack Nicholson           32192 non-null float64
James Caan               32192 non-null float64
James Toback             32192 non-null float64
James Woods              32192 non-null float64
Jan-Michael Vincent      32192 non-null float64
Jared Leto               32192 non-null float64
Jeffrey Tambor           32192 non-null float64
Jeremy Piven             32192 non-null float64
Jim Carrey               32192 non-null float64
John Barrymore           32192 non-null float64
John Singleton           32192 non-null float64
John Stamos              32192 non-null float64
John Travolta            32192 non-null float64
Johnny Depp              32192 non-null float64
Jonathan Rhys-Meyers     32192 non-null float64
Josh Brolin              32192 non-null float64
Kevin Costner            32192 non-null float64
Kevin Hart               32192 non-null float64
Kevin Spacey             32192 non-null float64
Kirk Douglas             32192 non-null float64
Klaus Kinski             32192 non-null float64
Lars Von Trier           32192 non-null float64
Lisa Robin Kelly         32192 non-null float64
Louis B. Mayer           32192 non-null float64
Louis C.K.               32192 non-null float64
Mario Lopez              32192 non-null float64
Mark Wahlberg            32192 non-null float64
Marlon Brando            32192 non-null float64
Mel Gibson               32192 non-null float64
Michael Bay              32192 non-null float64
Michael Fassbender       32192 non-null float64
Mickey Rourke            32192 non-null float64
Morgan Freeman           32192 non-null float64
Nate Parker              32192 non-null float64
Nicolas Cage             32192 non-null float64
Oliver Stone             32192 non-null float64
Philip Michael Thomas    32192 non-null float64
Rob Lowe                 32192 non-null float64
Roman Polanski           32192 non-null float64
Russell Crowe            32192 non-null float64
Ryan O'Neal              32192 non-null float64
Sam Worthington          32192 non-null float64
Sasha Mitchell           32192 non-null float64
Sean Connery             32192 non-null float64
Sean Penn                32192 non-null float64
Stephen Collins          32192 non-null float64
Steven Seagal            32192 non-null float64
Terrence Howard          32192 non-null float64
Tom Sizemore             32192 non-null float64
Tom Wopat                32192 non-null float64
Wesley Snipes            32192 non-null float64
Woody Allen              32192 non-null float64
dtypes: float64(89), int64(2), object(2)
memory usage: 23.1+ MB

In [235]:
# Convert all abuser count columns to int64

for abuser, id in abuser_ids.items():
    try:
        df_person_abuser_count_details[abuser] = df_person_abuser_count_details[abuser].astype('int64')
    except KeyError:
        pass

df_person_abuser_count_details.head()

,person_id,gender,abuser_project_count,name,Al Franken,Alec Baldwin,Alfred Hitchcock,Andrew Kreisberg,Andy Dick,Anthony Michael Hall,...,Sasha Mitchell,Sean Connery,Sean Penn,Stephen Collins,Steven Seagal,Terrence Howard,Tom Sizemore,Tom Wopat,Wesley Snipes,Woody Allen
0,10000,2,6,Gregory Sporleder,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,10001,2,1,William Wyler,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1000228,2,1,Jerry Haleva,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,100040,1,1,Carol Dempster,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,100053,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [241]:
# New dataframe from `df_abusers` to join on

df_abusers_join = df_abusers.rename(columns = {'imdb_id': 'person_id'})

# New 'known_abuser' column from `df_abusers` dataframe by hack-y merge

df_person_abuser_count_details = pd.merge(df_person_abuser_count_details, 
                                          df_abusers_join, 
                                          on = 'person_id', 
                                          how = 'left')

df_person_abuser_count_details

,person_id,gender,abuser_project_count,name_x,Al Franken,Alec Baldwin,Alfred Hitchcock,Andrew Kreisberg,Andy Dick,Anthony Michael Hall,...,Sean Connery,Sean Penn,Stephen Collins,Steven Seagal,Terrence Howard,Tom Sizemore,Tom Wopat,Wesley Snipes,Woody Allen,name_y
0,10000,2,6,Gregory Sporleder,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
1,10001,2,1,William Wyler,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
2,1000228,2,1,Jerry Haleva,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
3,100040,1,1,Carol Dempster,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
4,100053,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
5,100054,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
6,100055,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
7,100056,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
8,100057,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
9,100058,1,2,Clara Colosimo,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
10,100059,2,1,David Levinson,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
11,100062,2,1,Del Zamora,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
12,100085,0,1,Paul Kasey,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,NaN
13,1000883,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
14,1000984,0,1,Stefan Shterev,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
15,1001011,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
16,100106,2,2,Lou Bonacki,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,NaN
17,1001076,0,1,Mostéfa Stiti,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
18,100127,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
19,100129,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
20,100142,2,1,Ken Abraham,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
21,1001657,1,4,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
22,1001661,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
23,1001667,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
24,1001673,0,1,Scott Prisand,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
25,1001674,0,1,Matt Weaver,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
26,1001687,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
27,10017,2,4,Charlton Heston,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
28,1001705,0,3,Remington Chase,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
29,1001722,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32162,998685,1,1,Beth Brickell,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32163,9987,2,11,Ian Bryce,0,0,0,0,0,1,...,0,0,0,0,0,1,0,0,0,NaN
32164,99885,1,2,Kathleen Lloyd,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32165,99888,0,1,Susanne Zenor,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32166,99904,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32167,99905,1,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32168,99906,2,2,John Bloom,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32169,999089,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32170,99914,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32171,999301,0,1,Sam Cohen,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32172,999320,1,1,Cocoa Brown,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32173,999329,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32174,9994,1,5,Helen Hunt,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32175,999445,1,1,Kym Jackson,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32176,9995,1,1,Jami Gertz,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32177,999540,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32178,9996,2,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32179,999605,0,3,Ahna O'Reilly,0,0,0,0,0,0,...,0,0,0,0,1,0,1,0,0,NaN
32180,9997,2,1,Scott Thomson,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32181,999736,1,2,Bianca Hunter,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32182,999737,0,3,Erica McDermott,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32183,999762,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32184,999764,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32185,999772,1,1,Chanty Sok,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32186,999786,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32187,999787,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32188,999790,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32189,9998,2,2,Joey Slotnick,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32190,999817,1,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN
32191,999821,0,2,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,NaN

In [245]:
# Create new CSV from `df_person_abuser_count_details` dataframe

df_person_abuser_count_details.to_csv('../data/person_abuser_count_details.csv', index = False)

Step 1 complete!

## 2. Exploratory Analysis

## Ignore everything below

In [215]:
# Import `person_abuser_count_detail` as hacky way to get around index issue

person_abuser_count_detail = pd.read_csv('../data/person_abuser_count_detail.csv')

df_person_abuser_count_detail = pd.DataFrame(person_abuser_count_detail, index = [0])
df_person_abuser_count_detail.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1 entries, 0 to 0
Data columns (total 91 columns):
person_id                1 non-null int64
name                     1 non-null object
Al Franken               1 non-null int64
Alec Baldwin             1 non-null int64
Alfred Hitchcock         1 non-null int64
Andrew Kreisberg         1 non-null int64
Andy Dick                1 non-null int64
Anthony Michael Hall     1 non-null int64
Arnold Schwarzenegger    1 non-null int64
Ben Affleck              1 non-null int64
Bernardo Bertolucci      1 non-null int64
Bill Cosby               1 non-null int64
Bill Murray              1 non-null int64
Billy Dee Williams       1 non-null int64
Brett Ratner             1 non-null int64
Brian Bonsall            1 non-null int64
Bryan Singer             1 non-null int64
Carmen Electra           1 non-null int64
Casey Affleck            1 non-null int64
Charlie Sheen            1 non-null int64
Christian Bale           1 non-null int64
Christian Slater         1 non-null int64
Clint Eastwood           1 non-null int64
Columbus Short           1 non-null int64
Cuba Gooding Jr.         1 non-null int64
David O. Selznick        1 non-null int64
Donald J. Trump          1 non-null int64
Dustin Diamond           1 non-null int64
Dustin Hoffman           1 non-null int64
Ed Westwick              1 non-null int64
Edward Furlong           1 non-null int64
Emile Hirsch             1 non-null int64
Eric Roberts             1 non-null int64
Gary Busey               1 non-null int64
Gary Goddard             1 non-null int64
Gary Oldman              1 non-null int64
George Takei             1 non-null int64
Gerard Depardieu         1 non-null int64
Harvey Weinstein         1 non-null int64
Jack Nicholson           1 non-null int64
James Caan               1 non-null int64
James Toback             1 non-null int64
James Woods              1 non-null int64
Jan-Michael Vincent      1 non-null int64
Jared Leto               1 non-null int64
Jeffrey Tambor           1 non-null int64
Jeremy Piven             1 non-null int64
Jim Carrey               1 non-null int64
John Barrymore           1 non-null int64
John Singleton           1 non-null int64
John Stamos              1 non-null int64
John Travolta            1 non-null int64
Johnny Depp              1 non-null int64
Jonathan Rhys-Meyers     1 non-null int64
Josh Brolin              1 non-null int64
Kevin Costner            1 non-null int64
Kevin Hart               1 non-null int64
Kevin Spacey             1 non-null int64
Kirk Douglas             1 non-null int64
Klaus Kinski             1 non-null int64
Lars Von Trier           1 non-null int64
Lisa Robin Kelly         1 non-null int64
Louis B. Mayer           1 non-null int64
Louis C.K.               1 non-null int64
Mario Lopez              1 non-null int64
Mark Wahlberg            1 non-null int64
Marlon Brando            1 non-null int64
Mel Gibson               1 non-null int64
Michael Bay              1 non-null int64
Michael Fassbender       1 non-null int64
Mickey Rourke            1 non-null int64
Morgan Freeman           1 non-null int64
Nate Parker              1 non-null int64
Nicolas Cage             1 non-null int64
Oliver Stone             1 non-null int64
Philip Michael Thomas    1 non-null int64
Rob Lowe                 1 non-null int64
Roman Polanski           1 non-null int64
Russell Crowe            1 non-null int64
Ryan O'Neal              1 non-null int64
Sam Worthington          1 non-null int64
Sasha Mitchell           1 non-null int64
Sean Connery             1 non-null int64
Sean Penn                1 non-null int64
Stephen Collins          1 non-null int64
Steven Seagal            1 non-null int64
Terrence Howard          1 non-null int64
Tom Sizemore             1 non-null int64
Tom Wopat                1 non-null int64
Wesley Snipes            1 non-null int64
Woody Allen              1 non-null int64
dtypes: int64(90), object(1)
memory usage: 736.0+ bytes

In [212]:
# Set keys for `df_person_abuser_count` and `person_abuser_count_detail` to join on

df_person_abuser_count['key'] = df_person_abuser_count['person_id']
person_abuser_count_detail['key'] = person_abuser_count_detail['person_id']

# Create `df_person_abuser_count_details` by joining `df_person_abuser_count` with `person_abuser_count_detail`

df_person_abuser_count_details = df_person_abuser_count.set_index('key').join(person_abuser_count_detail.set_index('key'), lsuffix = '_l', rsuffix = '_r')
df_person_abuser_count_details

#df_person_abuser_count_details = 
#pd.merge(df_person_abuser_count.filter(['person_id', 'gender', 'abuser_project_count']),
   

#df_person_abuser_count_details.info()

,person_id_l,name_l,gender,abuser_project_count,person_id_r,name_r,Al Franken,Alec Baldwin,Alfred Hitchcock,Andrew Kreisberg,...,Sasha Mitchell,Sean Connery,Sean Penn,Stephen Collins,Steven Seagal,Terrence Howard,Tom Sizemore,Tom Wopat,Wesley Snipes,Woody Allen
key,,,,,,,,,,,,,,,,,,,,,
10000,10000,Gregory Sporleder,2,6,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10001,10001,William Wyler,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000228,1000228,Jerry Haleva,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100040,100040,Carol Dempster,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100053,100053,Mario Caiano,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100054,100054,Maurizio Lucidi,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100055,100055,Barbara De Rossi,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100056,100056,Anne Knecht,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100057,100057,Elvire Audray,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100058,100058,Clara Colosimo,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100059,100059,David Levinson,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100062,100062,Del Zamora,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100085,100085,Paul Kasey,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000883,1000883,John Rue,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1000984,1000984,Stefan Shterev,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001011,1001011,John Vosper,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100106,100106,Lou Bonacki,2,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001076,1001076,Mostéfa Stiti,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100127,100127,Tarako,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100129,100129,Eve March,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100142,100142,Ken Abraham,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001657,1001657,Sophie Turner,1,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001661,1001661,Nick Spicer,0,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001667,1001667,Verdi Solaiman,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001673,1001673,Scott Prisand,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001674,1001674,Matt Weaver,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001687,1001687,Aaron Munoz,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10017,10017,Charlton Heston,2,4,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001705,1001705,Remington Chase,0,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1001722,1001722,Michelle Ehlen,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
998685,998685,Beth Brickell,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9987,9987,Ian Bryce,2,11,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99885,99885,Kathleen Lloyd,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99888,99888,Susanne Zenor,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99904,99904,Robert Oppel,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99905,99905,Kathleen Byron,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99906,99906,John Bloom,2,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999089,999089,Dolores Sage,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
99914,99914,Cynthia Garris,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999301,999301,Sam Cohen,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999320,999320,Cocoa Brown,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999329,999329,Kevin Hernandez,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9994,9994,Helen Hunt,1,5,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999445,999445,Kym Jackson,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9995,9995,Jami Gertz,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999540,999540,Adrianne Sachs,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9996,9996,Sean Whalen,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999605,999605,Ahna O'Reilly,0,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9997,9997,Scott Thomson,2,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999736,999736,Bianca Hunter,1,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999737,999737,Erica McDermott,0,3,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999762,999762,Rory Aitken,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999764,999764,Ben Pugh,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999772,999772,Chanty Sok,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999786,999786,Tobin Armbrust,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999787,999787,Tish Cyrus,0,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999790,999790,Alexis Knapp,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9998,9998,Joey Slotnick,2,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999817,999817,Olivia Taylor Dudley,1,1,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
999821,999821,Derrick Tseng,0,2,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
# Rename columns

df_person_credits_abusers = df_person_credits_abusers.rename(columns = {'name_x': 'name', 'name_y': 'abuser'})

df_person_credits_abusers.info()

In [164]:
test_sort = df_person_abuser_count_detail.sort_values('Harvey Weinstein', ascending = False)

test_sort

,abuser,Al Franken,Alec Baldwin,Alfred Hitchcock,Andrew Kreisberg,Andy Dick,Anthony Michael Hall,Arnold Schwarzenegger,Ben Affleck,Bernardo Bertolucci,Bill Cosby,...,Sasha Mitchell,Sean Connery,Sean Penn,Stephen Collins,Steven Seagal,Terrence Howard,Tom Sizemore,Tom Wopat,Wesley Snipes,Woody Allen
person_id,name,,,,,,,,,,,,,,,,,,,,,
1243,Woody Allen,0.0,2.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,2.0,0.0
13242,Paul Giamatti,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
21315,Eric Roberts,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,2.0,1.0,2.0,0.0
3197,Tom Sizemore,1.0,0.0,0.0,0.0,1.0,1.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,1.0,0.0,1.0,3.0,2.0,0.0,0.0
206,Jim Carrey,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
23880,Steven Seagal,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16851,Josh Brolin,0.0,0.0,0.0,0.0,2.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
12232,Guy East,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
518,Danny DeVito,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
1735,Frank McRae,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1904,Anthony Michael Hall,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
55638,Kevin Hart,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
98953,Jerry Ferrara,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12234,Nigel Sinclair,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12217,Jay Mohr,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
26510,Eugene Levy,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
69791,Charles Haid,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4483,Dustin Hoffman,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2956,Amanda Peet,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
12852,Barry Corbin,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
59839,Harvey Weinstein,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
17485,Oliver Platt,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0
82666,Rhys Darby,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
30485,CCH Pounder,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
73931,Bette Midler,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1535,Brian Doyle-Murray,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
821,Beverly D'Angelo,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3392,Michael Douglas,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10814,Wesley Snipes,0.0,0.0,0.0,0.0,0.0,2.0,0.0,0.0,0.0,0.0,...,0.0,0.0,2.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0
2224,Christian Slater,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1607523,Saniyya Sidney,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161446,Camila Ashland,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1607844,Tracy Pacheco,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160868,Joy Bang,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1608817,Ulf Kjell Gür,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16089,Jason Evers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160899,David Canary,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1609023,Bruce Evers,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1609028,Richard Cowl,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160905,Michael Burns,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1609622,Maureen Brennan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
160969,Lou Frizzell,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16097,Jay Robinson,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1609924,Sadek,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16101,Steve Ihnat,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1610329,Nicolas Marétheu,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
16106,David Hurst,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1610721,Eric Walkuski,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1611202,Choco Orta,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1611776,Howard Burd,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1611826,Dan Brown,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
16119,Charles Napier,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0
161254,Brendan Burns,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161366,Shelly Novack,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1614,Ang Lee,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0
161405,Ron Soble,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161408,Betty Carvalho,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1614272,Janette Andrade,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
161433,Mark Goddard,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
9998,Joey Slotnick,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [179]:
test_weinstein = df_person_abuser_count_detail.filter(['person_id', 'name', 'Harvey Weinstein'])
test_weinstein = test_weinstein.sort_values('Harvey Weinstein', ascending = False)
test_weinstein

abuser                          Harvey Weinstein
person_id name
1243      Woody Allen                          4
13242     Paul Giamatti                        3
21315     Eric Roberts                         3
3197      Tom Sizemore                         3
206       Jim Carrey                           3
23880     Steven Seagal                        3
16851     Josh Brolin                          3
12232     Guy East                             2
518       Danny DeVito                         2
1735      Frank McRae                          2
1904      Anthony Michael Hall                 2
55638     Kevin Hart                           2
98953     Jerry Ferrara                        2
12234     Nigel Sinclair                       2
12217     Jay Mohr                             2
26510     Eugene Levy                          2
69791     Charles Haid                         2
4483      Dustin Hoffman                       2
2956      Amanda Peet                          2
12852     Barry Corbin                         2
59839     Harvey Weinstein                     2
17485     Oliver Platt                         2
82666     Rhys Darby                           2
30485     CCH Pounder                          2
73931     Bette Midler                         2
1535      Brian Doyle-Murray                   2
821       Beverly D'Angelo                     2
3392      Michael Douglas                      2
10814     Wesley Snipes                        2
2224      Christian Slater                     2
...                                          ...
1607523   Saniyya Sidney                       0
161446    Camila Ashland                       0
1607844   Tracy Pacheco                        0
160868    Joy Bang                             0
1608817   Ulf Kjell Gür                        0
16089     Jason Evers                          0
160899    David Canary                         0
1609023   Bruce Evers                          0
1609028   Richard Cowl                         0
160905    Michael Burns                        0
1609622   Maureen Brennan                      0
160969    Lou Frizzell                         0
16097     Jay Robinson                         0
1609924   Sadek                                0
16101     Steve Ihnat                          0
1610329   Nicolas Marétheu                     0
16106     David Hurst                          0
1610721   Eric Walkuski                        0
1611202   Choco Orta                           0
1611776   Howard Burd                          0
1611826   Dan Brown                            0
16119     Charles Napier                       0
161254    Brendan Burns                        0
161366    Shelly Novack                        0
1614      Ang Lee                              0
161405    Ron Soble                            0
161408    Betty Carvalho                       0
1614272   Janette Andrade                      0
161433    Mark Goddard                         0
9998      Joey Slotnick                        0

[16503 rows x 1 columns]

In [139]:
df_temp_credits1 = df_person_credits_imdb[(df_person_credits_imdb.name == 'Scarlett Johansson')\
                                          | (df_person_credits_imdb.name == 'Meryl Streep')\
                                          | (df_person_credits_imdb.name == 'Liev Schreiber')\
                                          | (df_person_credits_imdb.name == 'Denzel Washington')]

df_temp_credits1 = df_temp_credits1.dropna(subset = ['imdb_id'])

df_temp_credits1

      person_id                name    imdb_id
0          5292   Denzel Washington  tt0396857
1          5064        Meryl Streep  tt0396857
2         23626      Liev Schreiber  tt0396857
3883      23626      Liev Schreiber  tt0179641
4234       5064        Meryl Streep  tt0280778
11736     23626      Liev Schreiber  tt0134273
12361     23626      Liev Schreiber  tt1239374
15526      5292   Denzel Washington  tt1156398
19828     23626      Liev Schreiber  tt0057827
21114      5064        Meryl Streep  tt0104346
21160      5064        Meryl Streep  tt0102303
35753      5292   Denzel Washington  tt1473397
37384     23626      Liev Schreiber  tt0120570
40371      1245  Scarlett Johansson  tt2784678
50783     23626      Liev Schreiber  tt0119244
51098      5064        Meryl Streep  tt0094747

In [140]:
df_temp_credits1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16 entries, 0 to 51098
Data columns (total 3 columns):
person_id    16 non-null object
name         16 non-null object
imdb_id      16 non-null object
dtypes: object(3)
memory usage: 512.0+ bytes

In [145]:
df_temp_credits2 = pd.merge(df_temp_credits1, 
                            df_abusers_filmography_clean, 
                            on = 'imdb_id', 
                            how = 'left')

df_temp_credits2

   person_id              name_x    imdb_id            name_y
0       5292   Denzel Washington  tt0396857  Cuba Gooding Jr.
1       5064        Meryl Streep  tt0396857  Cuba Gooding Jr.
2      23626      Liev Schreiber  tt0396857  Cuba Gooding Jr.
3      23626      Liev Schreiber  tt0179641  Gerard Depardieu
4       5064        Meryl Streep  tt0280778  Harvey Weinstein
5      23626      Liev Schreiber  tt0134273      Nicolas Cage
6      23626      Liev Schreiber  tt1239374         Tom Wopat
7       5292   Denzel Washington  tt1156398       Bill Murray
8      23626      Liev Schreiber  tt0057827    Roman Polanski
9       5064        Meryl Streep  tt0104346  Cuba Gooding Jr.
10      5064        Meryl Streep  tt0102303    Jeffrey Tambor
11      5292   Denzel Washington  tt1473397    Jeffrey Tambor
12     23626      Liev Schreiber  tt0120570        Al Franken
13      1245  Scarlett Johansson  tt2784678        Kevin Hart
14     23626      Liev Schreiber  tt0119244       Ryan O'Neal
15      5064        Meryl Streep  tt0094747    Clint Eastwood

In [155]:
df_temp_credits3 = pd.pivot_table(df_temp_credits2, values = 'imdb_id', index = ['person_id', 'name_x'], columns = 'name_y', aggfunc = 'count').fillna(0)
df_temp_credits3

,name_y,Al Franken,Bill Murray,Clint Eastwood,Cuba Gooding Jr.,Gerard Depardieu,Harvey Weinstein,Jeffrey Tambor,Kevin Hart,Nicolas Cage,Roman Polanski,Ryan O'Neal,Tom Wopat
person_id,name_x,,,,,,,,,,,,
1245,Scarlett Johansson,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
23626,Liev Schreiber,1.0,0.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,1.0,1.0
5064,Meryl Streep,0.0,0.0,1.0,2.0,0.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
5292,Denzel Washington,0.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [156]:
df_temp_credits3.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (1245, Scarlett Johansson) to (5292, Denzel Washington)
Data columns (total 12 columns):
Al Franken          4 non-null float64
Bill Murray         4 non-null float64
Clint Eastwood      4 non-null float64
Cuba Gooding Jr.    4 non-null float64
Gerard Depardieu    4 non-null float64
Harvey Weinstein    4 non-null float64
Jeffrey Tambor      4 non-null float64
Kevin Hart          4 non-null float64
Nicolas Cage        4 non-null float64
Roman Polanski      4 non-null float64
Ryan O'Neal         4 non-null float64
Tom Wopat           4 non-null float64
dtypes: float64(12)
memory usage: 637.0+ bytes

In [175]:
# TEST LOOP to convert float64 to int64

for a, i in abuser_ids.items():
    try:
        df_temp_credits3[a] = df_temp_credits3[a].astype('int64')
    except KeyError:
        pass

df_temp_credits3.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 4 entries, (1245, Scarlett Johansson) to (5292, Denzel Washington)
Data columns (total 12 columns):
Al Franken          4 non-null int64
Bill Murray         4 non-null int64
Clint Eastwood      4 non-null int64
Cuba Gooding Jr.    4 non-null int64
Gerard Depardieu    4 non-null int64
Harvey Weinstein    4 non-null int64
Jeffrey Tambor      4 non-null int64
Kevin Hart          4 non-null int64
Nicolas Cage        4 non-null int64
Roman Polanski      4 non-null int64
Ryan O'Neal         4 non-null int64
Tom Wopat           4 non-null int64
dtypes: int64(12)
memory usage: 637.0+ bytes

In [172]:
abuser_ids

{'Al Franken': 'nm0291253',
 'Alec Baldwin': 'nm0000285',
 'Alfred Hitchcock': 'nm0000033',
 'Andrew Kreisberg': 'nm1132610',
 'Andy Dick': 'nm0004873',
 'Anthony Michael Hall': 'nm0001309',
 'Arnold Schwarzenegger': 'nm0000216',
 'Ben Affleck': 'nm0000255',
 'Bernardo Bertolucci': 'nm0000934',
 'Bill Cosby': 'nm0001070',
 'Bill Murray': 'nm0000195',
 'Billy Dee Williams': 'nm0001850',
 'Brett Ratner': 'nm0711840',
 'Brian Bonsall': 'nm0095176',
 'Bryan Singer': 'nm0001741',
 'Carmen Electra': 'nm0001182',
 'Casey Affleck': 'nm0000729',
 'Charlie Sheen': 'nm0000221',
 'Chris Albrecht': 'nm0016923',
 'Christian Bale': 'nm0000288',
 'Christian Slater': 'nm0000225',
 'Clint Eastwood': 'nm0000142',
 'Columbus Short': 'nm1551922',
 'Cuba Gooding Jr.': 'nm0000421',
 'David Guillod': 'nm0347128',
 'David O. Russell': 'nm0751102',
 'David O. Selznick': 'nm0006388',
 'Donald J. Trump': 'nm0874339',
 'Dustin Diamond': 'nm0224616',
 'Dustin Hoffman': 'nm0000163',
 'Ed Westwick': 'nm2067953',
 'Edward Furlong': 'nm0000411',
 'Emile Hirsch': 'nm0386472',
 'Emma Roberts': 'nm0731075',
 'Eric Roberts': 'nm0000616',
 'Garth Ancier': 'nm0025828',
 'Gary Busey': 'nm0000997',
 'Gary Goddard': 'nm0323787',
 'Gary Oldman': 'nm0000198',
 'George Takei': 'nm0001786',
 'Gerard Depardieu': 'nm0000367',
 'Harvey Weinstein': 'nm0005544',
 'Jack Nicholson': 'nm0000197',
 'James Caan': 'nm0001001',
 'James Toback': 'nm0864812',
 'James Woods': 'nm0000249',
 'Jan-Michael Vincent': 'nm0001821',
 'Jared Leto': 'nm0001467',
 'Jeffrey Tambor': 'nm0001787',
 'Jeremy Piven': 'nm0005315',
 'Jim Carrey': 'nm0000120',
 'John Barrymore': 'nm0000858',
 'John Singleton': 'nm0005436',
 'John Stamos': 'nm0001764',
 'John Travolta': 'nm0000237',
 'Johnny Depp': 'nm0000136',
 'Jonathan Rhys-Meyers': 'nm0001667',
 'Josh Brolin': 'nm0000982',
 'Kevin Costner': 'nm0000126',
 'Kevin Hart': 'nm0366389',
 'Kevin Spacey': 'nm0000228',
 'Kirk Douglas': 'nm0000018',
 'Klaus Kinski': 'nm0001428',
 'Lars Von Trier': 'nm0001885',
 'Lisa Robin Kelly': 'nm0446605',
 'Louis B. Mayer': 'nm0562454',
 'Louis C.K.': 'nm0127373',
 'Mario Lopez': 'nm0530249',
 'Mark Salling': 'nm0758597',
 'Mark Schwahn': 'nm0777043',
 'Mark Wahlberg': 'nm0000242',
 'Marlon Brando': 'nm0000008',
 'Mel Gibson': 'nm0000154',
 'Michael Bay': 'nm0000881',
 'Michael Fassbender': 'nm1055413',
 'Mickey Rourke': 'nm0000620',
 'Morgan Freeman': 'nm0000151',
 'Nate Parker': 'nm1676649',
 'Nicholas Brendon': 'nm0107183',
 'Nicolas Cage': 'nm0000115',
 'O.J. Simpson': 'nm0001740',
 'Oliver Stone': 'nm0000231',
 'Philip Michael Thomas': 'nm0859365',
 'Rob Lowe': 'nm0000507',
 'Roman Polanski': 'nm0000591',
 'Roy Price': 'nm0697136',
 'Russell Crowe': 'nm0000128',
 "Ryan O'Neal": 'nm0641939',
 'Sam Worthington': 'nm0941777',
 'Sasha Mitchell': 'nm0593711',
 'Sean Connery': 'nm0000125',
 'Sean Penn': 'nm0000576',
 'Stephen Collins': 'nm0004834',
 'Steven Seagal': 'nm0000219',
 'Terrence Howard': 'nm0005024',
 'Tom Sizemore': 'nm0001744',
 'Tom Wopat': 'nm0941374',
 'Victor Salva': 'nm0759207',
 'Wesley Snipes': 'nm0000648',
 'Woody Allen': 'nm0000095'}

In [ ]:
# TEMP


# Rename 'movideb_id' column to 'abuser_project_count`

df_person_count = df_person_count.rename(columns = {'moviedb_id': 'abuser_project_count'})

# Drop duplicates if there are any

df_person_count.drop_duplicates(keep = False, inplace = True)

# Convert 'person_id' to str

df_person_count['person_id'] = df_person_count['person_id'].astype('str')

df_person_count.info()

#### Note to self: once full person filmography loop finished running, append extra columns to CSV above